In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/user/Documentos/site/env/lib/python3.6/site-packages
Requirement already satisfied: pytz>=2017.2 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.13.3 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)

In [1]:
import pandas as pd

In [ ]:
#Importando a base de dados

In [2]:
base_dados = pd.read_csv("insurance2.csv")

In [3]:
base_dados.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [4]:
base_dados.shape

(1338, 8)

In [5]:
!pip install altair

Requirement already satisfied: altair in /home/user/Documentos/site/env/lib/python3.6/site-packages
Requirement already satisfied: jinja2 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: toolz in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: numpy in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: entrypoints in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: jsonschema in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: pandas in /home/user/Documentos/site/env/lib/python3.6/site-packages (from altair)
Requirement already satisfied: MarkupSafe>=0.23 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jinja2->altair)
Requirement already satisfied: setuptools in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: attrs>=17.4.0 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: six>=1.11.0 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from jsonschema->altair)
Requirement already satisfied: pytz>=2017.2 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from pandas->altair)
Requirement already satisfied: zipp>=0.5 in /home/user/Documentos/site/env/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema->altair)

In [6]:
import altair as alt

In [7]:
base_dados[['age', 'insuranceclaim']].groupby("insuranceclaim").count()

                age
insuranceclaim
0               555
1               783

In [8]:
qtd_por_regiao = base_dados.groupby("region", as_index = False).count()[["insuranceclaim","region"]]

In [ ]:
#Análise por região

In [9]:
qtd_por_regiao

   insuranceclaim  region
0             324       0
1             325       1
2             364       2
3             325       3

In [10]:
#Transformando a legenda em regioes
base_dados["localidade"] = base_dados["region"].apply(lambda x:"Nordeste" if x == 0 else("Noroeste" if x == 1 else ("Sudeste" if x== 2 else "Sudoeste")))

In [16]:
qtd_segurado = base_dados[base_dados["insuranceclaim"] == 1]
qtd_segurado = qtd_segurado.groupby("localidade", as_index = False).count()[["insuranceclaim","localidade"]]

In [17]:
qtd_segurado

   insuranceclaim localidade
0             192   Nordeste
1             163   Noroeste
2             245    Sudeste
3             183   Sudoeste

In [13]:
base_dados

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,localidade
0,19,0,27.900,0,1,3,16884.92400,1,Sudoeste
1,18,1,33.770,1,0,2,1725.55230,1,Sudeste
2,28,1,33.000,3,0,2,4449.46200,0,Sudeste
3,33,1,22.705,0,0,1,21984.47061,0,Noroeste
4,32,1,28.880,0,0,1,3866.85520,1,Noroeste
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,1,10600.54830,0,Noroeste
1334,18,0,31.920,0,0,0,2205.98080,1,Nordeste
1335,18,0,36.850,0,0,2,1629.83350,1,Sudeste
1336,21,0,25.800,0,0,3,2007.94500,0,Sudoeste
1337,61,0,29.070,0,1,1,29141.36030,1,Noroeste

In [18]:
alt.Chart (qtd_segurado, title = "Segurados por região").mark_bar().encode(
    x = alt.X("localidade", title = "Região"),
    y = alt.Y("insuranceclaim", title = "Possui seguro")
)

alt.Chart(...)

In [20]:
alt.Chart (qtd_por_regiao, title = "Segurados por região").mark_bar().encode(
    x = alt.X("localidade", title = "Região"),
    y = alt.Y("insuranceclaim", title = "Possui seguro")
)

ValueError: localidade encoding field is specified without a type; the type cannot be inferred because it does not match any column in the data.

alt.Chart(...)

In [22]:
base_dados.mean("age")

ValueError: No axis named age for object type <class 'pandas.core.frame.DataFrame'>